* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 43rem;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    margin: auto;
}

header {
    height: 7.2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1.6rem 2.8rem;

    background-color: #065E7C;
}

header .avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

header form {
    flex: 1;
}

header input {
    width: 100%;
    padding: 1.2rem 1.4rem;

    background-color: #387E96;
    border: none;
    border-radius: .4rem;
    display: flex;
}

header input::placeholder {
    color: white;
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    line-height: 6.4rem;
}

.container1 h1 {
    margin: 3.1rem 0 .8rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.container1 .goodNo {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.1rem;
}

.container1 .goodNo button {
    border: none;
    background-color: white;
}

main p {
    font-size: 1.6rem;
    font-weight: 400;
    width: 38.2rem;
    line-height: 160%;
    margin-bottom: 3.4rem;
}

.container2 h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
}

.container2 .wrapper {
    display: flex;
    gap: 1.6rem;
}

.wrapper img {
    width: 15.1rem;
    height: 8.4rem;
}

.wrapper h3 {
    font-size: 1.8rem;
}

.wrapper p{
    font-size: 1.4rem;
    width: 21.5rem;
    font-weight: 400;
    line-height: 160%;
}

footer {
    height: 6.4rem;
    background-color: #387E96;
    color: white;

    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
}

@media (min-width: 1300px) {
    .container {
        margin: 0;
    }

    header {
        width: 100vw;
    }

    main {
        display: flex;
        gap: 3.4rem;
        margin-top: 4.4rem;
        justify-content: center;
    }

    .container1 {
        width: 80rem; 
    }

    .cat {
        width: 80rem;
        height: 40.5rem;
    }

    .container1 p {
        width: 80rem;
    }

    .full {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .goodNo {
        margin-top: 3.1rem;
    }

}


