* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(30%, 1% + 1vw, 62.5%);
}

body {
    font-size: 1.6rem;
}

.running .ph-play-circle,
.running .ph-timer,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle {
    display: none;
}

.container {
    display: grid;
    height: 100vh;
    place-content: center;

    padding: 5rem;
}

main {
    display: flex;
    gap: 19.2rem;
    align-items: center;
    justify-content: center;
}

#timerControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer span {
    font-size: 12.6rem;
    font-family: "Roboto", serif;
    font-weight: 500;
    color: #323238;
}

#controls {
    display: flex;
    gap: 4rem;

    margin-top: 1rem;
}

#controls button {
    border: none;
    background: none;
    font-size: 5rem;
    color: #323238;
}

#environment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

#environment button {
    background-color: #E1E1E6;
    border: none;
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
}

#environment button:hover {
    background-color: #02799D;
}

.active {
    background-color: #02799D;
}

#environment button {
    background-repeat: no-repeat;
    background-position: center;
}

#tree {
    background-image: url(assets/tree.svg);
}

#tree:hover {
    background-image: url(assets/treewhite.svg);
}

#rain {
    background-image: url(assets/rain.svg);
}

#rain:hover {
    background-image: url(assets/rainwhite.svg);
}

#store {
    background-image: url(assets/store.svg);
}

#store:hover {
    background-image: url(assets/storewhite.svg);
}

#fire {
    background-image: url(assets/fire.svg);
}

#fire:hover {
    background-image: url(assets/firewhite.svg);
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}