* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #000000;
    color: white;

    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#app {
    padding: 2rem;
    margin: 11.5rem auto;
    max-width: 1120px;
    display: grid;
    place-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 29.3rem;

    margin-bottom: 8.7rem;
}

form {
    display: flex;
    gap: .8rem;
}

header input {
    width: 46.2rem;
    height: 4.8rem;

    border: none;
    border-radius: .5rem;

    background-color: #06181C;
    color: white;
    padding: 1.6rem;
}

header button {
    background-image: url(assets/star.svg);
    background-repeat: no-repeat;
    background-position: center left 1.2rem;
    padding: 1.2rem 3.2rem 1.2rem 4.4rem;
    background-color: #065E7C;
    border: none;
    border-radius: .5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

header button:hover {
    background-image: url(assets/starhover.svg);
    background-color: white;
    color: #065E7C;
}

table {
    border-collapse: collapse;
    text-align: left;
}

table thead th{
    background-color: #092D38;
    font-size: 2rem;
    padding: 1.6rem 0 1.6rem 4rem;
}

table thead th:first-child {
    border-top-left-radius: 1.2rem;
    width: 50.4rem;
}

table thead th:last-child {
    border-top-right-radius: 1.2rem;
}

table tr {
    background-color: #06181C;
}

table tr:nth-child(odd) {
    background-color: #000607;
}

tbody tr td {
    padding-left: 4rem;
}

tbody tr {
    border: 1px solid #4A808C;
}

tr .user {
    padding: 2.8rem 4rem;
    width: 50rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

tr p {
    font-weight: bold;
}

tr .user a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

tr .user img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

tbody tr td .remove {
    text-decoration: none;
    color: #F75A68;
}

.quote {
    justify-content: center;
    padding: 21rem 0;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.quote p {
    font-size: 4rem;
    font-weight: bold;
    line-height: 2.4rem;
    font-family: "Roboto Mono", monospace;
    color: #4E5455;

}

.hide {
    display: none;
}