* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.line { 
    height: 1px;
    border: 1px solid black;
}

a { 
    text-decoration: none;
    color: chartreuse;
    margin: 3rem;
}

#app {
    height: 50vh;
}

#timer, #text {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

#text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: .3rem .8rem;
    text-transform: uppercase;
    background-color: darkmagenta;
}

#text span {
    animation: text 10s linear infinite;
    display: inline-block;
    color: bisque;
}

#timer {
    background-color: black;
    border-radius: 0 .5rem 0 0;
    color: white;
    padding: .3rem .8rem;
    z-index: 1;
}

@keyframes text {
    0% {
        transform: translateX(100%);
    } 100% {
        transform: translate(-100%);
    }
}


/* Comprar */

.mainBuy {
    display: flex;
    place-content: center;
    flex-direction: column;
    width: 30rem;
    margin: 2rem auto;
}

.buyTitle, .imcTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: mediumblue;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.inputItem {
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: .6rem;
    border: none;
}

.addItem, .calcImc {
    width: 10rem;
    background-color: yellow;
    border: none;
    border-radius: .6rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: darkblue;
}

.my-list {
    margin-top: 3rem;
}

.my-list li {
    font-size: 2rem;
}

/* IMC */

.containerImc {
    display: flex;
    place-content: center;
    flex-direction: column;
    width: 30rem;
    margin: 2rem auto;

}

.containerImc h1 {
    margin-bottom: 2rem;
}

.input-wrapper input {
    width: 30rem;
    padding: 1rem;
    border-radius: .6rem;
    border: none;
}

.input-wrapper + .input-wrapper {
    margin: 1rem 0;
}

.modal {
    width: fit-content;
    background-color: aliceblue;
    padding: 4rem;
    margin-top: 3rem;
    border-radius: .4rem;
}

.hide {
    display: none;
    visibility: hidden;
    opacity: none;
}